@{
    ViewBag.Title = "Home Page";
}

<!-- Main content -->
<section class="content mt-15">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Table-->
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="datatable_info" width="100%">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Name</th>
                                            <th class="sorting hide-colrow" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Job Title</th>
                                            <th class="sorting hide-colrow" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Salary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Content Table-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Table -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "scrollX": true,
            "scrollY": "260px",
            "oLanguage": { "sProcessing": "loading.." },
            "sProcessing": true,
            "scrollCollapse": true,
            "searching": true,
            "bServerSide": true,
            "sAjaxSource": "/home?format=json",
            "bProcessing": true
        });
    });
</script>